


services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_URL: "/api"
    image: saas-frontend:prod
    container_name: saas_frontend
    ports:
      - "80:80"
    depends_on:
      - app
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: server/Dockerfile
    image: 957597318409.dkr.ecr.us-east-1.amazonaws.com/saas-pm:latest
    container_name: saas_app

    depends_on:
      - mongo
    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: 1d
      COOKIE_NAME: access_token
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: http://localhost:3000/api/auth/google/callback
      FRONTEND_SUCCESS_REDIRECT: http://localhost:3000/
      FRONTEND_FAILURE_REDIRECT: http://localhost:3000/login?error=google
      CORS_ORIGIN: "http://localhost"
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: saas_mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: